<h3 class="title">{{name}}</h3>
<p class="desc">{{scenario_description}}</p>
<table class="results">
    <thead>
        <tr class="row heading">
            <th>Step</th>
        </tr>
    </thead>
    <tbody>
        {{#each steps }}
        <tr class="row">
            <td>
                {{#if is_and }}
                <span style="margin-left: 10px;"> {{step_type}} {{step_template}} </span>
                {{else}}
                {{step_type}} {{step_template}}
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{#each examples}}
<h4>Example {{name}}</h4>
<p>{{description}}</p>
<table class="results">
    <thead>
        {{#each headers}}
        <th class="row heading">
            {{this}}
        </th>
        {{/each}}
        <th class="row heading">
            Outcome
        </th>
    </thead>
    <tbody>
        {{#each rows}}
        <tr class="row bg_{{example_state}}">
            {{#each example}}
            <td style="text-align: center">{{this}}</td>
            {{/each}}
            <td>
                {{> steps.html}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/each}}