<table class="results">
    <thead>
        <tr class="row heading">
            <th>Step</th>
            <th>Outcome</th>
        </tr>
    </thead>
    <tbody>
        {{#each steps }}
        <tr class="row {{step_state}}" >
            <td>
                {{#if (eq step_type "And") }}
                <span style="margin-left: 10px;"> {{step_type}} {{step_template}} </span>
                {{else}}
                {{step_type}} {{step_template}}
                {{/if}}
                {{#if step_table }}
                <table class="datatable" style="margin-left: 10px;">
                   {{#each step_table }}
                    <tr class="datarow">
                       {{#each this }}
                         <td class="datacell">
                            {{this}}
                         </td>
                       {{/each}}
                    </tr>
                   {{/each}} 
                </table>
                {{/if}}
            </td>
            <td>
                {{step_state}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>