<table class="results">
    <thead>
        <tr class="row heading">
            <th>Step</th>
            <th>Outcome</th>
        </tr>
    </thead>
    <tbody>
        {{#each steps }}
        <tr class="row {{step_state}}" >
            <td>
                {{#if (eq step_type "And") }}
                <span style="margin-left: 10px;"> {{step_type}} {{step_template}} </span>
                {{else}}
                {{step_type}} {{step_template}}
                {{/if}}
            </td>
            <td>
                {{step_state}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>